.login_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #1E2044;
    align-items: center;
}
.logo{
 
    width: 257px;
    height: 72px;
    left: 57px;
    margin-top: 40px;
    padding: 2%;
    
}
.app_name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
.lead {
    margin-top: 20px;
    margin-bottom: 8px;    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.email-input {

    color:white;
    background-color: #1E2044;
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom-color: #E3B15A;
    outline: none;
    padding: 10%;
    margin-bottom: 10px;
    


}
.senha-input {
    color:white;
    background-color: #1E2044;
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom-color: #E3B15A;
    outline: none;
    padding: 10%;
    margin-bottom: 30px;
}
.input-submit {
    background: #1E2044;
    border: 3px solid #E3B15A;
    box-sizing: border-box;
    border-radius: 12px;
    color:white;
    font-style: bold;
    outline: none;
    padding: 10%;
    margin-bottom: 30px;

}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header-logo {

}

@media only screen and (min-device-width: 470px) {
    .senha-input {

        font-size: 140%;
    }
    .input-submit {
        font-size: 140%;
    }
    .email-input {
        font-size: 140%;

    }
    .app_name {
        font-size: 50px;

    }
    .lead {
        margin-bottom: 50px;

        font-size: 20px;

    }
    .header-logo {        
        padding: 0%;
        width: 257px;
        height: 72px;
    }
    .logo {
        margin-top: 140px    }

}