*{
    margin:0px; 
    padding:0px
}
.profile-user-btn {
    margin-top: 18px;
    width: 30%;
    margin: 0px;
}
.btn-options{
    width: 162px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}
.title {
    font-family: arial;
    font-size: 12px;
    color: #302f53;
}

.subtitle {
    width: 84%;
    height: 27px;
    background-color: #302f53;
    font-family: arial;
    font-size: 11px;
    color: white;
    text-align: center;
}