* {
  margin: 0;
  padding: 0;
}
.container-inner{
  margin-top: 30px;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  background: rgba(30, 32, 68, 0.92);
}
.profile-photo{
  padding-left: 14px;
}
.profile-user{
  margin-top: 21px;
  width: 24%;
  margin-left: 16px;
}
.header-profile {
  margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
}
.bold{
  font-weight: bolder;
}
.item-cpf{
  list-style: none;
}