* {
  margin: 0;
  padding: 0;
}
.container-inner{
  position: fixed;
    top: 33px;
  width: 100vw;
  height: 11vh;
  display: flex;
  align-items: center;
  background: rgba(30, 32, 68, 0.92);
}
.profile-photo{
  width: 39px;
}
.profile-user{
  width: 118%;
    margin-left: 16px;
}
.header-profile{
  width: 100vw;
  margin-left: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  align-items: center;
  color: #FFFFFF;
}
.bold{
  font-weight: bolder;
}