* {
  margin: 0;
  padding: 0;
}
.bank{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 280px;
  height: 150px;
  font-family: Montserrat;
  font-size: 13px;
  margin: auto;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 1px 3px 5px black;
  background: rgba(202, 194, 177, 0.329);
}
.info-bank{
  display: flex;
  flex-direction: column;
}
.namebankintro{
  font-weight: bold;
}
/* .balancesaldo{


}
.extratcvalue{

}
.cardcreditvalue{
 
}
 */
