* {
  margin: 0;
  padding: 0;
}
.bank{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 93vw;
  line-height: 30px;
  height: 164px;
  font-family: Montserrat;
  font-size: 13px;
  margin: auto;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 1px 3px 5px black;
  background: rgba(202, 194, 177, 0.329);
}

.info-bank{
  display: flex;
  flex-direction: column;
}
.namebankintro, .numberbank{
  font-size: 22px;
  color: #9D1047;
  font-weight: bold;
}
.balancesaldo, .cardcreditvalue, .alt-name-card{
  font-size: 17px;
  font-weight: bold;
  color: #1E2044;
}
.alt-name-card{
  font-size: 13px;
}

