

.bank{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  width: 350px;
  height: 150px;
  border: solid 3px #e3b15d;
  font-family: 'Roboto Slab', serif;
}

.info-bank{
  display: flex;
  flex-direction: column;
}