.saldo{
background-color: #1E2044;
color:#FFFFFF;
}
.totalcreditc{
    position: fixed;
    bottom: 0px;
    height: 15vh;
    background-color: #1E2044;
}
.list-card-bank{
    margin-top: 114px;
}
.message{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 350px;
    height: 90px;
    font-family: 'Roboto Slab', serif;
    background-color: #de3163;
    margin: auto;
    }