.button_creditos {
  width: 100vw;
  height: 11vh;
  padding: 10%;
  margin-bottom: 5%;
  background: rgba(30, 32, 68, 0.92);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 10px;
  display: flex;
  color: #FFFFFF;
  outline: none;
  border-radius: 0px;
  letter-spacing: .1rem;
  border: none;
}
.plus {
  margin-left: 70%;
  font-size: 20px;
}
.obs {
  position: absolute;
  width: 335px;
  height: 73px;
  left: 25px;
  top: 497px;
  background: #CAC2B1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.options {
  display: grid;
  color: black;
}
.options_box {
  font-family: Montserrat;
  line-height: 33px;
  display: flex;
  align-items: center;
  background: rgba(202, 194, 177, 0.92);
  height: 33vh;
  width: 100vw;
  margin-top: -19px;

}
.opcoes_division {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.insfos-banco {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1E2044;
  font-family: Arial;
  font-size: 10px;
}
.menu-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 45px;
}
.buttons_order {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.button_show_creditos {
  width: 320px;
  height: 40px;
  padding: 8%;
  margin-bottom: 5%;
  background: white;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #1E2044;
  outline: none;
  border-radius: 8px;
  border-width: thin;
  letter-spacing: .1rem;
}
.button_send{
  width: 260px;
  height: 30px;
  padding: 10%;
  background: white;
  font-family: Arial;
  font-size: 15px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #1E2044;
  outline: none;
  border-radius: 8px;
  border-width: thin;
  letter-spacing: .1rem;
}

@media only screen and (min-device-width: 768px) {
  .button_creditos {
    padding: 8%;
    margin-bottom: 17px;
    font-size: 25px;
    line-height: 28px;
  }
  .options_box{
    height: 23vh;
  }
}

@media only screen and (min-device-width: 980px) {
  .button_creditos {
    padding: 3%;
    margin-bottom: 19px;
    font-size: 25px;
  }
  .options_box{
    height: 30vh;
  }
}

