.menu-hamburger{
  max-width: 41px;
  width: 100vw;
  height: 5vh;
  margin-top: 6px;
  border: none;
  outline: none;
}
.btn-pages{
  width: 4vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E2044;
  border: none;
}
.pages{
  width: 38vw;
  height: 8vh;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  position: relative;
  font-family: Montserrat;
  font-weight: bolder
}
.logo-nav{
  width: 36%;
  display: flex;
}
.listener{
  width: 4vw;
  height: 6vh;
  display: flex;
  flex-direction: column;
}
.listener2{
  display: flex;
  justify-content: flex-end;
}
.menu-burger{
  position: fixed;
  top: 0px;
  justify-content: space-around;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #1E2044;

}
