* {
  margin: 0;
  padding: 0;
}
.menu-hamburger{
  max-width: 41px;
  width: 100vw;
  height: 5vh;
  margin-top: 6px;
  border: none;
  outline: none;
}
.btn-pages{
  width: 4vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E2044;
  border: none;
}
button[type=submit]{
  outline:none
}
.pages{
  width: 38vw;
  height: 8vh;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  position: relative;
  font-family: Montserrat;
  font-weight: bolder
}
.logo-nav{
  height: 27px;
  top: 5px;
}

.menu{
  top: 0%;
  background: #1E2044;
  position: fixed;
  width: 100%;
  height: 49px;
  z-index: 1;
}

.main-nav{
  position: relative;
}

.listener{
  position: absolute;
  left: 10px;
  top: -9px;
}
.listener2{
  text-align: center;
  margin-top: 9px;
}